
h2.winner {
    font-family: Helvetica, Arial, Sans-Serif;
    position: absolute;
    top: 125%;
    display: none;
    width: 100%;
    text-align: center;
    background-color: white;
}

.play-again, .fork-me-on-github {
    font-family: arial, Helvetica, Sans-Serif;
    width: 20%;
    position: absolute;
    top: 175%;
    text-decoration: none;
    display: none;
}

#o-first:target .play-again.if-o-goes-first {
    z-index: 2;
}

.play-again {
    left: 25%;
}

.fork-me-on-github {
    right: 25%;
}


/* Buttons styles from http://webdesignerwall.com/tutorials/css3-gradient-buttons */

.button {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #e9e9e9;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #fff,  #ededed);

}
.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
}
.button:active {
    margin-top: 1px;
}

​