.o.y1.z1:checked ~ .o.y1.z1:checked ~ .o.y1.z1:checked ~ .o.y1.z1:checked ~ .if-o-wins,
.x.y1.z1:checked ~ .x.y1.z1:checked ~ .x.y1.z1:checked ~ .x.y1.z1:checked ~ .if-x-wins,
.o.x1.z1:checked ~ .o.x1.z1:checked ~ .o.x1.z1:checked ~ .o.x1.z1:checked ~ .if-o-wins,
.x.x1.z1:checked ~ .x.x1.z1:checked ~ .x.x1.z1:checked ~ .x.x1.z1:checked ~ .if-x-wins,
.o.x1.y1:checked ~ .o.x1.y1:checked ~ .o.x1.y1:checked ~ .o.x1.y1:checked ~ .if-o-wins,
.x.x1.y1:checked ~ .x.x1.y1:checked ~ .x.x1.y1:checked ~ .x.x1.y1:checked ~ .if-x-wins,
.o.y1.z2:checked ~ .o.y1.z2:checked ~ .o.y1.z2:checked ~ .o.y1.z2:checked ~ .if-o-wins,
.x.y1.z2:checked ~ .x.y1.z2:checked ~ .x.y1.z2:checked ~ .x.y1.z2:checked ~ .if-x-wins,
.o.x1.z2:checked ~ .o.x1.z2:checked ~ .o.x1.z2:checked ~ .o.x1.z2:checked ~ .if-o-wins,
.x.x1.z2:checked ~ .x.x1.z2:checked ~ .x.x1.z2:checked ~ .x.x1.z2:checked ~ .if-x-wins,
.o.x1.y2:checked ~ .o.x1.y2:checked ~ .o.x1.y2:checked ~ .o.x1.y2:checked ~ .if-o-wins,
.x.x1.y2:checked ~ .x.x1.y2:checked ~ .x.x1.y2:checked ~ .x.x1.y2:checked ~ .if-x-wins,
.o.y1.z3:checked ~ .o.y1.z3:checked ~ .o.y1.z3:checked ~ .o.y1.z3:checked ~ .if-o-wins,
.x.y1.z3:checked ~ .x.y1.z3:checked ~ .x.y1.z3:checked ~ .x.y1.z3:checked ~ .if-x-wins,
.o.x1.z3:checked ~ .o.x1.z3:checked ~ .o.x1.z3:checked ~ .o.x1.z3:checked ~ .if-o-wins,
.x.x1.z3:checked ~ .x.x1.z3:checked ~ .x.x1.z3:checked ~ .x.x1.z3:checked ~ .if-x-wins,
.o.x1.y3:checked ~ .o.x1.y3:checked ~ .o.x1.y3:checked ~ .o.x1.y3:checked ~ .if-o-wins,
.x.x1.y3:checked ~ .x.x1.y3:checked ~ .x.x1.y3:checked ~ .x.x1.y3:checked ~ .if-x-wins,
.o.y1.z4:checked ~ .o.y1.z4:checked ~ .o.y1.z4:checked ~ .o.y1.z4:checked ~ .if-o-wins,
.x.y1.z4:checked ~ .x.y1.z4:checked ~ .x.y1.z4:checked ~ .x.y1.z4:checked ~ .if-x-wins,
.o.x1.z4:checked ~ .o.x1.z4:checked ~ .o.x1.z4:checked ~ .o.x1.z4:checked ~ .if-o-wins,
.x.x1.z4:checked ~ .x.x1.z4:checked ~ .x.x1.z4:checked ~ .x.x1.z4:checked ~ .if-x-wins,
.o.x1.y4:checked ~ .o.x1.y4:checked ~ .o.x1.y4:checked ~ .o.x1.y4:checked ~ .if-o-wins,
.x.x1.y4:checked ~ .x.x1.y4:checked ~ .x.x1.y4:checked ~ .x.x1.y4:checked ~ .if-x-wins,
.o.x1.y1.z1:checked ~ .o.x2.y2.z1:checked ~ .o.x3.y3.z1:checked ~ .o.x4.y4.z1:checked ~ .if-o-wins,
.x.x1.y1.z1:checked ~ .x.x2.y2.z1:checked ~ .x.x3.y3.z1:checked ~ .x.x4.y4.z1:checked ~ .if-o-wins,
.o.x4.y1.z1:checked ~ .o.x3.y2.z1:checked ~ .o.x2.y3.z1:checked ~ .o.x1.y4.z1:checked ~ .if-o-wins,
.x.x4.y1.z1:checked ~ .x.x3.y2.z1:checked ~ .x.x2.y3.z1:checked ~ .x.x1.y4.z1:checked ~ .if-o-wins,
.o.y1.z1.x1:checked ~ .o.y2.z2.x1:checked ~ .o.y3.z3.x1:checked ~ .o.y4.z4.x1:checked ~ .if-o-wins,
.x.y1.z1.x1:checked ~ .x.y2.z2.x1:checked ~ .x.y3.z3.x1:checked ~ .x.y4.z4.x1:checked ~ .if-o-wins,
.o.y4.z1.x1:checked ~ .o.y3.z2.x1:checked ~ .o.y2.z3.x1:checked ~ .o.y1.z4.x1:checked ~ .if-o-wins,
.x.y4.z1.x1:checked ~ .x.y3.z2.x1:checked ~ .x.y2.z3.x1:checked ~ .x.y1.z4.x1:checked ~ .if-o-wins,
.o.x1.z1.y1:checked ~ .o.x2.z2.y1:checked ~ .o.x3.z3.y1:checked ~ .o.x4.z4.y1:checked ~ .if-o-wins,
.x.x1.z1.y1:checked ~ .x.x2.z2.y1:checked ~ .x.x3.z3.y1:checked ~ .x.x4.z4.y1:checked ~ .if-o-wins,
.o.x4.z1.y1:checked ~ .o.x3.z2.y1:checked ~ .o.x2.z3.y1:checked ~ .o.x1.z4.y1:checked ~ .if-o-wins,
.x.x4.z1.y1:checked ~ .x.x3.z2.y1:checked ~ .x.x2.z3.y1:checked ~ .x.x1.z4.y1:checked ~ .if-o-wins,
.o.y2.z1:checked ~ .o.y2.z1:checked ~ .o.y2.z1:checked ~ .o.y2.z1:checked ~ .if-o-wins,
.x.y2.z1:checked ~ .x.y2.z1:checked ~ .x.y2.z1:checked ~ .x.y2.z1:checked ~ .if-x-wins,
.o.x2.z1:checked ~ .o.x2.z1:checked ~ .o.x2.z1:checked ~ .o.x2.z1:checked ~ .if-o-wins,
.x.x2.z1:checked ~ .x.x2.z1:checked ~ .x.x2.z1:checked ~ .x.x2.z1:checked ~ .if-x-wins,
.o.x2.y1:checked ~ .o.x2.y1:checked ~ .o.x2.y1:checked ~ .o.x2.y1:checked ~ .if-o-wins,
.x.x2.y1:checked ~ .x.x2.y1:checked ~ .x.x2.y1:checked ~ .x.x2.y1:checked ~ .if-x-wins,
.o.y2.z2:checked ~ .o.y2.z2:checked ~ .o.y2.z2:checked ~ .o.y2.z2:checked ~ .if-o-wins,
.x.y2.z2:checked ~ .x.y2.z2:checked ~ .x.y2.z2:checked ~ .x.y2.z2:checked ~ .if-x-wins,
.o.x2.z2:checked ~ .o.x2.z2:checked ~ .o.x2.z2:checked ~ .o.x2.z2:checked ~ .if-o-wins,
.x.x2.z2:checked ~ .x.x2.z2:checked ~ .x.x2.z2:checked ~ .x.x2.z2:checked ~ .if-x-wins,
.o.x2.y2:checked ~ .o.x2.y2:checked ~ .o.x2.y2:checked ~ .o.x2.y2:checked ~ .if-o-wins,
.x.x2.y2:checked ~ .x.x2.y2:checked ~ .x.x2.y2:checked ~ .x.x2.y2:checked ~ .if-x-wins,
.o.y2.z3:checked ~ .o.y2.z3:checked ~ .o.y2.z3:checked ~ .o.y2.z3:checked ~ .if-o-wins,
.x.y2.z3:checked ~ .x.y2.z3:checked ~ .x.y2.z3:checked ~ .x.y2.z3:checked ~ .if-x-wins,
.o.x2.z3:checked ~ .o.x2.z3:checked ~ .o.x2.z3:checked ~ .o.x2.z3:checked ~ .if-o-wins,
.x.x2.z3:checked ~ .x.x2.z3:checked ~ .x.x2.z3:checked ~ .x.x2.z3:checked ~ .if-x-wins,
.o.x2.y3:checked ~ .o.x2.y3:checked ~ .o.x2.y3:checked ~ .o.x2.y3:checked ~ .if-o-wins,
.x.x2.y3:checked ~ .x.x2.y3:checked ~ .x.x2.y3:checked ~ .x.x2.y3:checked ~ .if-x-wins,
.o.y2.z4:checked ~ .o.y2.z4:checked ~ .o.y2.z4:checked ~ .o.y2.z4:checked ~ .if-o-wins,
.x.y2.z4:checked ~ .x.y2.z4:checked ~ .x.y2.z4:checked ~ .x.y2.z4:checked ~ .if-x-wins,
.o.x2.z4:checked ~ .o.x2.z4:checked ~ .o.x2.z4:checked ~ .o.x2.z4:checked ~ .if-o-wins,
.x.x2.z4:checked ~ .x.x2.z4:checked ~ .x.x2.z4:checked ~ .x.x2.z4:checked ~ .if-x-wins,
.o.x2.y4:checked ~ .o.x2.y4:checked ~ .o.x2.y4:checked ~ .o.x2.y4:checked ~ .if-o-wins,
.x.x2.y4:checked ~ .x.x2.y4:checked ~ .x.x2.y4:checked ~ .x.x2.y4:checked ~ .if-x-wins,
.o.x1.y1.z2:checked ~ .o.x2.y2.z2:checked ~ .o.x3.y3.z2:checked ~ .o.x4.y4.z2:checked ~ .if-o-wins,
.x.x1.y1.z2:checked ~ .x.x2.y2.z2:checked ~ .x.x3.y3.z2:checked ~ .x.x4.y4.z2:checked ~ .if-o-wins,
.o.x4.y1.z2:checked ~ .o.x3.y2.z2:checked ~ .o.x2.y3.z2:checked ~ .o.x1.y4.z2:checked ~ .if-o-wins,
.x.x4.y1.z2:checked ~ .x.x3.y2.z2:checked ~ .x.x2.y3.z2:checked ~ .x.x1.y4.z2:checked ~ .if-o-wins,
.o.y1.z1.x2:checked ~ .o.y2.z2.x2:checked ~ .o.y3.z3.x2:checked ~ .o.y4.z4.x2:checked ~ .if-o-wins,
.x.y1.z1.x2:checked ~ .x.y2.z2.x2:checked ~ .x.y3.z3.x2:checked ~ .x.y4.z4.x2:checked ~ .if-o-wins,
.o.y4.z1.x2:checked ~ .o.y3.z2.x2:checked ~ .o.y2.z3.x2:checked ~ .o.y1.z4.x2:checked ~ .if-o-wins,
.x.y4.z1.x2:checked ~ .x.y3.z2.x2:checked ~ .x.y2.z3.x2:checked ~ .x.y1.z4.x2:checked ~ .if-o-wins,
.o.x1.z1.y2:checked ~ .o.x2.z2.y2:checked ~ .o.x3.z3.y2:checked ~ .o.x4.z4.y2:checked ~ .if-o-wins,
.x.x1.z1.y2:checked ~ .x.x2.z2.y2:checked ~ .x.x3.z3.y2:checked ~ .x.x4.z4.y2:checked ~ .if-o-wins,
.o.x4.z1.y2:checked ~ .o.x3.z2.y2:checked ~ .o.x2.z3.y2:checked ~ .o.x1.z4.y2:checked ~ .if-o-wins,
.x.x4.z1.y2:checked ~ .x.x3.z2.y2:checked ~ .x.x2.z3.y2:checked ~ .x.x1.z4.y2:checked ~ .if-o-wins,
.o.y3.z1:checked ~ .o.y3.z1:checked ~ .o.y3.z1:checked ~ .o.y3.z1:checked ~ .if-o-wins,
.x.y3.z1:checked ~ .x.y3.z1:checked ~ .x.y3.z1:checked ~ .x.y3.z1:checked ~ .if-x-wins,
.o.x3.z1:checked ~ .o.x3.z1:checked ~ .o.x3.z1:checked ~ .o.x3.z1:checked ~ .if-o-wins,
.x.x3.z1:checked ~ .x.x3.z1:checked ~ .x.x3.z1:checked ~ .x.x3.z1:checked ~ .if-x-wins,
.o.x3.y1:checked ~ .o.x3.y1:checked ~ .o.x3.y1:checked ~ .o.x3.y1:checked ~ .if-o-wins,
.x.x3.y1:checked ~ .x.x3.y1:checked ~ .x.x3.y1:checked ~ .x.x3.y1:checked ~ .if-x-wins,
.o.y3.z2:checked ~ .o.y3.z2:checked ~ .o.y3.z2:checked ~ .o.y3.z2:checked ~ .if-o-wins,
.x.y3.z2:checked ~ .x.y3.z2:checked ~ .x.y3.z2:checked ~ .x.y3.z2:checked ~ .if-x-wins,
.o.x3.z2:checked ~ .o.x3.z2:checked ~ .o.x3.z2:checked ~ .o.x3.z2:checked ~ .if-o-wins,
.x.x3.z2:checked ~ .x.x3.z2:checked ~ .x.x3.z2:checked ~ .x.x3.z2:checked ~ .if-x-wins,
.o.x3.y2:checked ~ .o.x3.y2:checked ~ .o.x3.y2:checked ~ .o.x3.y2:checked ~ .if-o-wins,
.x.x3.y2:checked ~ .x.x3.y2:checked ~ .x.x3.y2:checked ~ .x.x3.y2:checked ~ .if-x-wins,
.o.y3.z3:checked ~ .o.y3.z3:checked ~ .o.y3.z3:checked ~ .o.y3.z3:checked ~ .if-o-wins,
.x.y3.z3:checked ~ .x.y3.z3:checked ~ .x.y3.z3:checked ~ .x.y3.z3:checked ~ .if-x-wins,
.o.x3.z3:checked ~ .o.x3.z3:checked ~ .o.x3.z3:checked ~ .o.x3.z3:checked ~ .if-o-wins,
.x.x3.z3:checked ~ .x.x3.z3:checked ~ .x.x3.z3:checked ~ .x.x3.z3:checked ~ .if-x-wins,
.o.x3.y3:checked ~ .o.x3.y3:checked ~ .o.x3.y3:checked ~ .o.x3.y3:checked ~ .if-o-wins,
.x.x3.y3:checked ~ .x.x3.y3:checked ~ .x.x3.y3:checked ~ .x.x3.y3:checked ~ .if-x-wins,
.o.y3.z4:checked ~ .o.y3.z4:checked ~ .o.y3.z4:checked ~ .o.y3.z4:checked ~ .if-o-wins,
.x.y3.z4:checked ~ .x.y3.z4:checked ~ .x.y3.z4:checked ~ .x.y3.z4:checked ~ .if-x-wins,
.o.x3.z4:checked ~ .o.x3.z4:checked ~ .o.x3.z4:checked ~ .o.x3.z4:checked ~ .if-o-wins,
.x.x3.z4:checked ~ .x.x3.z4:checked ~ .x.x3.z4:checked ~ .x.x3.z4:checked ~ .if-x-wins,
.o.x3.y4:checked ~ .o.x3.y4:checked ~ .o.x3.y4:checked ~ .o.x3.y4:checked ~ .if-o-wins,
.x.x3.y4:checked ~ .x.x3.y4:checked ~ .x.x3.y4:checked ~ .x.x3.y4:checked ~ .if-x-wins,
.o.x1.y1.z3:checked ~ .o.x2.y2.z3:checked ~ .o.x3.y3.z3:checked ~ .o.x4.y4.z3:checked ~ .if-o-wins,
.x.x1.y1.z3:checked ~ .x.x2.y2.z3:checked ~ .x.x3.y3.z3:checked ~ .x.x4.y4.z3:checked ~ .if-o-wins,
.o.x4.y1.z3:checked ~ .o.x3.y2.z3:checked ~ .o.x2.y3.z3:checked ~ .o.x1.y4.z3:checked ~ .if-o-wins,
.x.x4.y1.z3:checked ~ .x.x3.y2.z3:checked ~ .x.x2.y3.z3:checked ~ .x.x1.y4.z3:checked ~ .if-o-wins,
.o.y1.z1.x3:checked ~ .o.y2.z2.x3:checked ~ .o.y3.z3.x3:checked ~ .o.y4.z4.x3:checked ~ .if-o-wins,
.x.y1.z1.x3:checked ~ .x.y2.z2.x3:checked ~ .x.y3.z3.x3:checked ~ .x.y4.z4.x3:checked ~ .if-o-wins,
.o.y4.z1.x3:checked ~ .o.y3.z2.x3:checked ~ .o.y2.z3.x3:checked ~ .o.y1.z4.x3:checked ~ .if-o-wins,
.x.y4.z1.x3:checked ~ .x.y3.z2.x3:checked ~ .x.y2.z3.x3:checked ~ .x.y1.z4.x3:checked ~ .if-o-wins,
.o.x1.z1.y3:checked ~ .o.x2.z2.y3:checked ~ .o.x3.z3.y3:checked ~ .o.x4.z4.y3:checked ~ .if-o-wins,
.x.x1.z1.y3:checked ~ .x.x2.z2.y3:checked ~ .x.x3.z3.y3:checked ~ .x.x4.z4.y3:checked ~ .if-o-wins,
.o.x4.z1.y3:checked ~ .o.x3.z2.y3:checked ~ .o.x2.z3.y3:checked ~ .o.x1.z4.y3:checked ~ .if-o-wins,
.x.x4.z1.y3:checked ~ .x.x3.z2.y3:checked ~ .x.x2.z3.y3:checked ~ .x.x1.z4.y3:checked ~ .if-o-wins,
.o.y4.z1:checked ~ .o.y4.z1:checked ~ .o.y4.z1:checked ~ .o.y4.z1:checked ~ .if-o-wins,
.x.y4.z1:checked ~ .x.y4.z1:checked ~ .x.y4.z1:checked ~ .x.y4.z1:checked ~ .if-x-wins,
.o.x4.z1:checked ~ .o.x4.z1:checked ~ .o.x4.z1:checked ~ .o.x4.z1:checked ~ .if-o-wins,
.x.x4.z1:checked ~ .x.x4.z1:checked ~ .x.x4.z1:checked ~ .x.x4.z1:checked ~ .if-x-wins,
.o.x4.y1:checked ~ .o.x4.y1:checked ~ .o.x4.y1:checked ~ .o.x4.y1:checked ~ .if-o-wins,
.x.x4.y1:checked ~ .x.x4.y1:checked ~ .x.x4.y1:checked ~ .x.x4.y1:checked ~ .if-x-wins,
.o.y4.z2:checked ~ .o.y4.z2:checked ~ .o.y4.z2:checked ~ .o.y4.z2:checked ~ .if-o-wins,
.x.y4.z2:checked ~ .x.y4.z2:checked ~ .x.y4.z2:checked ~ .x.y4.z2:checked ~ .if-x-wins,
.o.x4.z2:checked ~ .o.x4.z2:checked ~ .o.x4.z2:checked ~ .o.x4.z2:checked ~ .if-o-wins,
.x.x4.z2:checked ~ .x.x4.z2:checked ~ .x.x4.z2:checked ~ .x.x4.z2:checked ~ .if-x-wins,
.o.x4.y2:checked ~ .o.x4.y2:checked ~ .o.x4.y2:checked ~ .o.x4.y2:checked ~ .if-o-wins,
.x.x4.y2:checked ~ .x.x4.y2:checked ~ .x.x4.y2:checked ~ .x.x4.y2:checked ~ .if-x-wins,
.o.y4.z3:checked ~ .o.y4.z3:checked ~ .o.y4.z3:checked ~ .o.y4.z3:checked ~ .if-o-wins,
.x.y4.z3:checked ~ .x.y4.z3:checked ~ .x.y4.z3:checked ~ .x.y4.z3:checked ~ .if-x-wins,
.o.x4.z3:checked ~ .o.x4.z3:checked ~ .o.x4.z3:checked ~ .o.x4.z3:checked ~ .if-o-wins,
.x.x4.z3:checked ~ .x.x4.z3:checked ~ .x.x4.z3:checked ~ .x.x4.z3:checked ~ .if-x-wins,
.o.x4.y3:checked ~ .o.x4.y3:checked ~ .o.x4.y3:checked ~ .o.x4.y3:checked ~ .if-o-wins,
.x.x4.y3:checked ~ .x.x4.y3:checked ~ .x.x4.y3:checked ~ .x.x4.y3:checked ~ .if-x-wins,
.o.y4.z4:checked ~ .o.y4.z4:checked ~ .o.y4.z4:checked ~ .o.y4.z4:checked ~ .if-o-wins,
.x.y4.z4:checked ~ .x.y4.z4:checked ~ .x.y4.z4:checked ~ .x.y4.z4:checked ~ .if-x-wins,
.o.x4.z4:checked ~ .o.x4.z4:checked ~ .o.x4.z4:checked ~ .o.x4.z4:checked ~ .if-o-wins,
.x.x4.z4:checked ~ .x.x4.z4:checked ~ .x.x4.z4:checked ~ .x.x4.z4:checked ~ .if-x-wins,
.o.x4.y4:checked ~ .o.x4.y4:checked ~ .o.x4.y4:checked ~ .o.x4.y4:checked ~ .if-o-wins,
.x.x4.y4:checked ~ .x.x4.y4:checked ~ .x.x4.y4:checked ~ .x.x4.y4:checked ~ .if-x-wins,
.o.x1.y1.z4:checked ~ .o.x2.y2.z4:checked ~ .o.x3.y3.z4:checked ~ .o.x4.y4.z4:checked ~ .if-o-wins,
.x.x1.y1.z4:checked ~ .x.x2.y2.z4:checked ~ .x.x3.y3.z4:checked ~ .x.x4.y4.z4:checked ~ .if-o-wins,
.o.x4.y1.z4:checked ~ .o.x3.y2.z4:checked ~ .o.x2.y3.z4:checked ~ .o.x1.y4.z4:checked ~ .if-o-wins,
.x.x4.y1.z4:checked ~ .x.x3.y2.z4:checked ~ .x.x2.y3.z4:checked ~ .x.x1.y4.z4:checked ~ .if-o-wins,
.o.y1.z1.x4:checked ~ .o.y2.z2.x4:checked ~ .o.y3.z3.x4:checked ~ .o.y4.z4.x4:checked ~ .if-o-wins,
.x.y1.z1.x4:checked ~ .x.y2.z2.x4:checked ~ .x.y3.z3.x4:checked ~ .x.y4.z4.x4:checked ~ .if-o-wins,
.o.y4.z1.x4:checked ~ .o.y3.z2.x4:checked ~ .o.y2.z3.x4:checked ~ .o.y1.z4.x4:checked ~ .if-o-wins,
.x.y4.z1.x4:checked ~ .x.y3.z2.x4:checked ~ .x.y2.z3.x4:checked ~ .x.y1.z4.x4:checked ~ .if-o-wins,
.o.x1.z1.y4:checked ~ .o.x2.z2.y4:checked ~ .o.x3.z3.y4:checked ~ .o.x4.z4.y4:checked ~ .if-o-wins,
.x.x1.z1.y4:checked ~ .x.x2.z2.y4:checked ~ .x.x3.z3.y4:checked ~ .x.x4.z4.y4:checked ~ .if-o-wins,
.o.x4.z1.y4:checked ~ .o.x3.z2.y4:checked ~ .o.x2.z3.y4:checked ~ .o.x1.z4.y4:checked ~ .if-o-wins,
.x.x4.z1.y4:checked ~ .x.x3.z2.y4:checked ~ .x.x2.z3.y4:checked ~ .x.x1.z4.y4:checked ~ .if-o-wins {
    display: block;
}

/* This will need to change to 64 inputs when all four boards are in */
input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ input:checked ~ .if-board-is-full {
	display: block;
}